.cart{
    padding:2rem;   
}
.cart_heading{
    font-size:3rem;
    margin-bottom: 2rem;
    font-weight: 600;
}
.cart_img img{
    height:80px; 
}
.plus{
    color:green;
    cursor: pointer;
    margin-right:3px
}
.minus{
    color:red;
    cursor:pointer;
    margin-left:3px;
}
.trash{
    color:red;
}
.cart_cost{
    font-size:3rem;
    font-weight: 600;

}

@media screen and (max-width:600px)
{
    .cart_cost{
        font-size:2rem;
    }
}
.line_under{
    width:500px;
    margin-bottom:1rem;
}