.cart{
    padding:2rem; 
    overflow: hidden;  
}
.cart_heading{
    font-size:3rem;
    margin-bottom: 2rem;
    font-weight: 600;
}
.cart_img img{
    height:80px; 
    flex-direction: row;
}
.plus{
    color:green;
    cursor: pointer;
    margin-right:3px
}
.minus{
    color:red;
    cursor:pointer;
    margin-left:3px;
}
.trash{
    color:red;
}
.cart_cost{
    font-size:3rem;
    font-weight: 600;

}
.cart{
    flex-direction: row;
}
.cart_items{
    flex-direction: row;
}
@media screen and (max-width:750px)
{
    .cart_heading{
        font-size:2rem;
    }
    .cart_cost{
        font-size:2rem;
    }
    .cart{
        flex-direction: column;
        align-items: center;
    }
    .cart_items{
        flex-direction: column;
    }
}
.line_under{
    width:500px;
    margin-bottom:1rem;
}