/* .pi{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap:2rem;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
} */
.pi{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}