.searchbar
{    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.filter_bar{
    width:840px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding:1rem;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s ease-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.search{
    margin-bottom: 0 !important;
    
}
.types{
    width: 99px;
    height: 40px;
    text-align: center;
    border:2px solid black;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.filter_btn{
    border-radius: 4px;
    background-color: red;
    width:100px;
    color:white;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
@media screen and (max-width: 600px) {
    .filter_bar{
        flex-direction: column;
        background-color: red;
        
    }
    .types{
        margin-top:1rem;
        width:262px;
    }
    .filter_btn{
        width:262px;
        margin-top:1rem;
        border:1px solid white
    }
}