.Navbar{
    background-color:red;
    /* box-shadow: 12px 12px 2px 12px rgb(255, 8, 0); */
}
.left{
    min-width:300px;
    flex:0.3;
    
}
.left h1{
    font-size:2.4rem;
    margin-left:127px;
    color:white;
    /* align-content: right; */
    font-family: 'Yuji Hentaigana Akebono', cursive;
}
.left h1 span{
    color:black;
    font-family: 'Yuji Hentaigana Akebono', cursive;
}
.center{
    min-width:200px;
    flex: 0.6;
    font-size:1.2rem;
    color:white;
}
.center a{
    margin-right:2rem;
    cursor:pointer;
}
.right{
    max-width:200px;
    display: flex;
    flex:0.2;
    margin-right:2rem;
}
.login_btn{
    /* color:white; */
    padding: 7px 20px;
    border: 1px solid white;
    border-radius: 62px;
    background-color: white;
    font-weight: 600;
    color:black;
}
.cart_icon{
    cursor: pointer;
    font-size:1.7rem;
    color:white;  
    display: flex;
    margin-left:10px;

    align-items: center;
}
@media screen and (max-width:900px) {
    .center{
        display:none;
    }
}
.user_name{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color:white;
    font-size:1rem;
}