.pizza_img{
    height:300px;
    width:100px;
    object-fit: contain;
    padding:3rem;
}
.single_pizza{
    height:400px;
    margin:2.5rem;
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 1rem;
}
.whole-pizza{
    background-color: rgb(232, 220, 245) !important;
    /* margin:1rem ; */
    margin-bottom: 2rem;
}
.select_choice{
    
    display: flex;
    margin-left:30px;
}
.select_choice div{
    margin-right:50px;
}
.add_cart_btn{
        color:white;
        padding: 7px 32px;
        border: 1px solid red;
        border-radius: 62px;
        background-color: red;
        font-weight: 300;
}
.price_details{
    display: flex;
}
.price{
    margin-right:20px;
}
.close_modal{
    margin-top:1rem;
    color:white;
    padding: 7px 32px;
    border: 1px solid red;
    border-radius: 62px;
    background-color: red;
    font-weight: 300;
}